<h1>Add a New Movie</h1>

<!-- It passes the @movie instance variable to the partial as a local variable named movie for use within the partial. -->
<%= render "movies/partials/form", movie: @movie %>